body {
font-family: Arial;
background-color: #fff4e6;
margin-left: 40%;
margin-top: 10%;
}
input[type=email], input[type=password] {
display: inline-block;
box-sizing: border-box;
width: 100%;
border: 0.5px solid #3c2f2f;
padding: 13px 23px;
margin: 10px 0;
}
button {
background-color: green;
border: none;
color: white;
cursor: pointer;
margin: auto;
padding: 12px 20px;
width: auto;
border-radius: 10%;
}
button:hover {
opacity: 0.9;
}
.cancelbtn {
background-color: #B22222;
width: auto;
padding: 12px 20px;
}
.container {
background-color: #fff4e6;
padding: 18px;
width: 30%;
}
.modal {
background-color: #4b3832;
display: none;
height: 100%;
left: 0;
overflow: auto;
padding-top: 50px;
position: fixed;
top: 0;
width: 100%;
z-index: 1;
}
.modal-content {
background-color: #fff4e6;
width: 30%;
border: 3px solid lightgrey;
margin: 10% auto 25% auto;
}
.close {
font-weight: bold;
color: lightgrey;
position: absolute;
right: 35px;
top: 30px;
font-size: 40px;
}
.close:hover, .close:focus {
cursor: pointer;
color: red;
}
