body {
background-color: #fff4e6;
font-family: Arial;
}
* {
box-sizing: border-box;
}
.close {
font-size: 35px;
font-weight: bold;
color: lightgrey;
position: absolute;
right: 40px;
top: 20px;
}
.close:hover, .close:focus {
color: red;
cursor: pointer;
}
.clearfix::after {
content: "";
clear: both;
display: table;
}
.cancelbtn {
background-color: #B22222;
padding: 13px 19px;
}
.cancelbtn, .signupbtn {
width: 17%;
color: white;
border-radius: 10%;
}
.container {
padding: 10px;
width: 30%;
}
button {
width: auto;
background-color: green;
color: white;
border: none;
padding: 13px 19px;
margin: auto;
opacity: 0.8;
cursor: pointer;
}
button:hover {
opacity:0.9;
}
hr {
margin-bottom: 10px;
border: 1.5px solid lightgray;
}
input[type=text], input[type=password] {
background: lightgray;
width: 30%;
border: none;
display: inline-block;
padding: 10px;
margin: 10px 0 20px 0;
}
input[type=text]:focus, input[type=password]:focus {
outline: none;
background-color: lightyellow;
}
.modal {
width: 100%;
height: 100%;
background-color: #4b3832;
padding-top: 40px;
display: none;
position: fixed;
left: 0;
top: 0;
overflow: auto;
z-index: 1;
}
.modal-content {
background-color: #fff4e6;
width: 30%;
border: 2px solid gray;
margin: 4% auto 10% auto;
}
