<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502526601242-qk8enojs4o90nt8qao3v5a55tduq4695.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502526601242-qk8enojs4o90nt8qao3v5a55tduq4695</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>502526601242-la0fq26o02v30te4hqfr3ulirce0uk48.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2ba0byqb_gf1CJLPzvRTmDeOzh5lBetE</string>
	<key>GCM_SENDER_ID</key>
	<string>502526601242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sovy.wardobe</string>
	<key>PROJECT_ID</key>
	<string>wardrobe-26e92</string>
	<key>STORAGE_BUCKET</key>
	<string>wardrobe-26e92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502526601242:ios:22c7e331648cf3cf</string>
	<key>DATABASE_URL</key>
	<string>https://wardrobe-26e92.firebaseio.com</string>
</dict>
</plist>