body {
  background: pink;
  background-image: url("../img/background.jpg");
  padding: auto;
  margin: auto;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: grey;
}

.main-div {
  width: 21%;
  margin-left: 40.5%;
  margin-top: 10%;
  padding: 1%;
  display: none;
  color: white;
}

.loggedin-div {
  width: 20%;
  margin-left: 40%;
  margin-top: 2%;
  padding: 1%;
  display: none;
  color: white;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button,
.loggedin-div button {
  opacity: 0.9;
  background: #fff;
  color: mediumvioletred;
  border: 1px solid mediumvioletred;
  border-radius: 45%;
  width: 200px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover,
.loggedin-div button:hover {
  background: mediumvioletred;
  color: #fff;
  border: 1px solid mediumvioletred;
  cursor: pointer;
}
